
/*
 * Change the main Kibana logo
 */

.euiHeaderLogo {
    svg {
        display: none !important;
    }

    &:after{
        content: '';
        background-position: center;
        background-image: url('https://i.postimg.cc/wjyTZZ4b/whale-tales-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 40px;
    } 
}

