
/*
 * Change the header color
 */

 .ckl-app-home {
    .euiHeader.header__firstBar {
       background-color: darkblue !important;
       border-bottom-color: darkblue !important;
   }
   
   section.homDataAdd {
       display: none;
   }
 }