.ckl-app-space_selector {

    // Modify the space seletor logo
    .spcSpaceSelector__logo,
    /// Since 8.3 https://github.com/elastic/kibana/pull/131579
    .kbnSolutionAvatar {
        svg {
            display: none !important;
        }

        &:before {
            content: '';
            display: flex;
            background-position: center;
            background-image: url('../assets/whale-tales-logo-no-text.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 48px;
        }
    }

    // Remove background design 
    .spcSpaceSelector {
        &:before {
            content: '';
        }

        &:after {
            content: '';
        }
    }
}